body{
    margin: 0;
    padding: 0;
    background: url(resource/background.jpg) no-repeat;
    background-size: cover;
}

.box{
    width: 450px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    display: block;
}

.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1,
.showbio h1,
.tabel h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5,
.showbio h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p,
.showbio p{
    text-align: justify;
}

ul{
    margin: 0;
    padding: 0;
}

.box li,
.showbio li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box-button,
.showbio-button{
    outline: none;
    border-style: hidden;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 8px;
    color: rgba(14, 0, 0, 0.425);
}

.box li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: all ease-in-out 250ms;
}
.box li a:hover,
.box-button:hover{
    color: #b9b9b9;
}

.showbio{
  width: 450px;
  background: rgba(0,0,0,0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic', sans-serif;
  display: none;
}

.tabel{
  display: none;
  width: 800px;
  background: rgba(0,0,0,0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic', sans-serif;
}

.kolom{
  display: none;
  position: relative;
  left: 15px;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 300px;
  height: auto;
  background: #00000034;
}

.calculator {
  position: relative;
  display: grid;
}
.calculator .value,
.calculator span.close{
  grid-column: span 4;
  height: auto;
  width: 240px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
}

.calculator span{
  display: grid;
  width: 60px;
  height: 60px;
  color: #fff;
  background: #555;
  place-items: center;
  border: 1px solid rgba(0,0,0,.1);
}

.calculator span:active {
  background: #04AA6D;
  color: #111;
}

.calculator span.clear {
  grid-column: span 2;
  width: 120px;
  background: rgb(252, 58, 84);
}

.calculator span.plus {
  grid-row: span 2;
  height: 120px;
}

.calculator span.equal {
  background: #04AA6D;
}

.calculator span.close {
  background: red;
}
